/*
Paleta de colores.

#4FE66E Verde
#4DF0AD Verde azulado claro
#50D9D6 Verde azulado medio
#4DB7F0 Verde azulado oscuro
#4976E6 Azul oscuro
*/

html {
  font-family: 'Rubik', sans-serif;
}

.background-gradient {
  background: #4db7f0;
  background: linear-gradient(0deg,#4db7f0 0%, #4976e6 80%);
  background: -webkit-linear-gradient(0deg,#4db7f0 0%, #4976e6 80%);
  background: -moz-linear-gradient(0deg,#4db7f0 0%, #4976e6 80%);
}

.background-gradient .h2-gradient {
  color: white;
}

.background-gradient header,
.background-gradient header a {
  color: white;
}

nav{
  /*background-color: aliceblue;*/
  /*background-color: #4DB7F0;*/
  padding: 15px;
  display: flex;
  gap:1.5em;
}

.menu a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main,
.menu {
  text-align: center;
  max-width: 960px;
  margin:0 auto;
}

.menu-div,
.navbar {
  background-color: #4DB7F0;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-weight: 600;
  /*box-shadow: 0 10px 10px 0 gray;*/
}

.navbar a {
  color: white;
}

header .cover h1,
header .cover p {
  color: white;
}

section{
  margin-top: 3rem;
}

.cursos div{
  background-color: #4976E6;
  color: white;
  /*display: inline-block;*/
  box-shadow: 5px 5px 10px white;
  padding: 1em;
  border-radius: 10px;
  margin: 20px 0 20px 0;
}

.fotos img{
  /*max-width: 450px;*/
  /*max-width: 200px;*/
  /*display: inline-block;*/
}

.galeria{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.galeria img{
  max-width: 400px;
  /*padding: 2rem;*/
  padding: 1rem;
  box-shadow: 5px 5px 10px black;
  border-radius: 5% 5% 0 0;
  margin: 1em;
}

ul li{
  text-align: left;
}

ul li::marker {
  /*content: "🚀";*/
}

ol li{
  text-align: left;
}

.presentacion {
  margin-top: 4em;
  margin-bottom: 5em;
  font-weight: 300;
  font-size: 1.7em;
}

.section-texto {
  margin-top: 4em;
  margin-bottom: 5em;
  font-weight: 300;
  font-size: 1.1em;
}

.section-texto a {
  color: #4976E6;
  text-decoration: none;
}

.cover {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.container-fotos {
  width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  margin-top: 2em;
  box-shadow: 5px 5px 10px black;
}

.carousel-caption {
  color: black;
}

@media(max-width:960px) {
  .galeria img {
    max-width: 80%;
    /*padding: 2rem;*/
    padding: 1rem;
    box-shadow: 2px black;
    border-radius: 5%;
    margin: 1em;
  }

  .fotos img{
    /*max-width: 450px;*/
    min-width: 90%;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .cursos div {
    width: 90%;
    margin-bottom: 1em;
  }

  .container-fotos {
    width: 90%;
  }
}